.bacimg,.Log,.reg,.delete,.bo,.update,.book{
    margin-top: 180px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border:none;
    border-radius: 15px 70px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: whitesmoke;
}
.re{
    background-image: url('hotel.jpg');
    height: 600px;
    margin-top: 0px;
}
.in,.out{
    display:inline-block;
    margin-left: 50px;
}
.d1,.d2,.d3,.d4{
    display:inline-flex;
    margin-right: 10px;
    border:yellow;
    border-radius: 6px;
}
.img1,.img2,.img3,.img4,.img6,.img7,.img8,.img9{
    display: inline-block;
    width: 600px;
    height: 350px;
}
.hom{
    border:none;
    background-color:whitesmoke;
}

.cont_inf,.fac,.spe,.over{
    color: blue;
    background-color: beige;
}
.head{
    margin-left: 100px;
    color: red;
}
.delbac{
    background-image: url('Room.jpg');
}
.con{
    background-color: rgb(90, 88, 88);
}
.c1,.c2,.c3{
    height:300px;
    width: 300px;
    margin-left: 100px;
    display: inline-block;
}
.baimg{
    background: url("swim.jpg");
    height: 800px;
}
